<footer class="navbar navbar-expand-lg navbar-light bg-light mt-auto border">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href=" {{ path('app_imprint') }}" aria-haspopup="false" aria-expanded="false">Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
