<nav class="navbar navbar-expand top-navigation navbar-light top-navigation border">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href=" {{ path('app_index') }}" aria-haspopup="false" aria-expanded="false" title="mitfahrerspiele.de">
                        <img width="12%" src="{{ asset('build/images/Mitfahrerspiele_Logo_300dpi.png') }}" alt="mitfahrerspiele.de">
                        <img width="50%" class="align-bottom" src="{{ asset('build/images/Mitfahrerspiele_Schriftzug_300dpi.png') }}" alt="mitfahrerspiele.de">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
