<nav class="navbar navbar-expand navbar-light navigation mb-5 border">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="nav">
                {% if navigations is defined %}
                    {% for navigation in navigations %}
                        <li class="nav-item dropdown mr-3">
                            <a class="btn btn-primary" href=" {{ path('app_contents', {'navigation': navigation.id}) }}" aria-haspopup="false" aria-expanded="false">{{ navigation.title }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
