{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Navigation bearbeiten{% endblock %}

{% block body %}
<div class="container">
    <h1>Mitfahrerspiele - Navigation bearbeiten</h1>

    {{ include('navigation/_form.html.twig', {'button_label': 'Änderung speichern'}) }}

    <a class="btn btn-primary btn-center" href="{{ path('navigation_index') }}">Zurück zur Liste</a>

    {{ include('navigation/_delete_form.html.twig') }}
</div>
{% endblock %}
