{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Neue Navigation erstellen{% endblock %}

{% block body %}
<div class="container">
    <h1>Mitfahrerspiele - Neue Navigation erstellen</h1>

    {{ include('navigation/_form.html.twig') }}

    <a class="btn btn-primary btn-center" href="{{ path('navigation_index') }}">Zurück zur Liste</a>
</div>
{% endblock %}
