{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inhalt bearbeiten{% endblock %}

{% block body %}
<div class="container">
    <h1>Mitfahrerespiele - Inhalt bearbeiten</h1>

    {{ include('content/_form.html.twig', {'button_label': 'Änderung speichern'}) }}

    <a class="btn btn-primary btn-center" href="{{ path('content_index') }}">Zurück zur Liste</a>

    {{ include('content/_delete_form.html.twig') }}
</div>
{% endblock %}
