{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Kontakt bearbeiten{% endblock %}

{% block body %}
    <h1>Edit Contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Änderung speichern'}) }}

    <a href="{{ path('contact_index') }}">Zurück zur Liste</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
