$primary: darken(#428bca, 20%);
$navigation-background-color: #245682;
$white: #fff;

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Chalkboard';
    src: url('/build/fonts/Chalkboard-01.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: $white;
    font-family: Chalkboard, sans-serif;
    font-size: 1.1rem;
    margin: 0;
}

body {
    height: auto;
    min-height: calc(100vh - 100px);
}

.page-wrapper .container {
    position: relative;

    @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 96%;
    }
}

.page-wrapper {
    height: auto;
    min-height: calc(100vh - 60px);
}

.page-wrapper, .footer-navigation {
    display: inline-block;
    width: 100%
}

.footer-navigation {
    display: inline-block;
    width: 100%;
    height: 60px;
}

.navbar.navbar-expand {
    background-color: $navigation-background-color;
}

.navigation-container {
    background-color: $navigation-background-color;

    @media (min-width: 368px) and (max-width: 1024px) {
        background-color: $white;
    }
}

#navbarToggleExternalContent {
    @media (min-width: 368px) and (max-width: 1024px) {
        background-color: $navigation-background-color;
    }
}

.top-navigation {
    padding: 0;
}

.index-container {
    border: 1px solid $navigation-background-color;
    border-radius: 16px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.index-container h1 {
    background-color: $navigation-background-color;
    color: $white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 10px;
    text-align: center;
}

.btn-right {
    position: absolute;
    right: 15px;
}

.btn-center {
    position: absolute;
    right: 50%;
}

.btn-left {
    position: absolute;
    left: 15px;
}

.positive-content, .negative-content {
    cursor: pointer;
}

#image-container {
    width: 100%;
}

#floated {
    margin-right: 20px;
    float: left;
    width: 300px;
}

#license-plate {
    width: 5%;
    @media (min-width: 768px) and (max-width: 1024px) {
        width: 15%;
    }
}
